---
import { Image } from "astro:assets";
import { getItemRenderUrl } from "@ars/addon-builder";
import { getItemTooltip } from "../../utils/book-pages";

interface Props {
  icon: string;
  iconUrl?: string;
  tooltipPrefix?: string;
  langByKey?: Map<string, string>;
}

const { icon, iconUrl, tooltipPrefix, langByKey } = Astro.props;
const src = iconUrl ?? getItemRenderUrl(icon)!;
const itemTitle = getItemTooltip(icon, langByKey);
const tooltipTitle = tooltipPrefix ? `${tooltipPrefix}<br><br>${itemTitle}` : itemTitle;
const useHtml = !!tooltipPrefix;
---

<span class="book-icon d-inline-flex align-items-center gap-2">
  <Image
    data-bs-toggle="tooltip"
    data-bs-title={tooltipTitle}
    data-bs-placement="bottom"
    {...useHtml ? { "data-bs-html": "true" } : {}}
    class:list={["book-icon__image", 'glyph']}
    src={src}
    alt={`${icon} icon`}
    title={itemTitle}
    width={128}
    height={128}
    loading="lazy"
  />
</span>

<script>
  import { Tooltip } from 'bootstrap';

  document
    .querySelectorAll('[data-bs-toggle="tooltip"]')
    .forEach(tooltipTriggerEl => Tooltip.getOrCreateInstance(tooltipTriggerEl));
</script>
