---
import { Image } from "astro:assets";
import { getItemRenderUrl } from "@ars/addon-builder";
import { getItemTooltip } from "../../../utils/book-pages";
import {
  asRecipeRecordArray,
  type BookRecipeRecord,
} from "../../../utils/book-recipes";
import BookPedestalRecipeLayout from "../BookPedestalRecipeLayout.astro";

interface Props {
  recipe: BookRecipeRecord;
  recipeId: string;
  langByKey?: Map<string, string>;
}

const { recipe, langByKey } = Astro.props;
const pedestalItems = asRecipeRecordArray(recipe.pedestalItems);
const enchantment =
  typeof recipe.enchantment === "string" ? recipe.enchantment : undefined;
const level = typeof recipe.level === "number" ? recipe.level : undefined;
const resultLabel = enchantment
  ? `${getItemTooltip(enchantment, langByKey)}${level ? ` ${level}` : ""}`
  : undefined;
---

<BookPedestalRecipeLayout
  ariaLabel="Enchanting apparatus grid"
  pedestalItems={pedestalItems}
  langByKey={langByKey}
  centerPosition="relative"
  resultOffset={12}
  showResult={Boolean(resultLabel)}
>
  <span
    slot="center"
    class="book-recipe-ingredient book-recipe-ingredient--slot book-recipe-ingredient--reagent"
    title="Item to be Enchanted"
    data-bs-toggle="tooltip"
    data-bs-title="Item to be Enchanted"
    data-bs-placement="bottom"
  >
    <span
      class="book-recipe-ingredient__slot-icon"
      aria-label="Item to be Enchanted">?</span
    >
  </span>
  {
    resultLabel && (
      <span slot="result" class="book-recipe-ingredient" title={resultLabel}>
        <Image
          data-bs-toggle="tooltip"
          data-bs-title={resultLabel}
          data-bs-placement="bottom"
          class="book-icon__image glyph"
          src={getItemRenderUrl("minecraft:enchanted_book")!}
          alt="Enchanted Book"
          title={resultLabel}
          width={128}
          height={128}
          loading="lazy"
        />
      </span>
    )
  }
</BookPedestalRecipeLayout>
