---
import { getCollection } from "astro:content";
import { IconCircleFilled } from "@tabler/icons-react";
import { slug } from "github-slugger";
import type { CasterTome } from "../../utils/loaders/caster-tome-loader";
import Glyphs from "./Glyphs.astro";

const tomes = (await getCollection("casterTomes"))
  .map((entry) => entry.data as CasterTome)
  .sort((a, b) => a.name.localeCompare(b.name));

const formatColor = (color: CasterTome["color"]) => {
  if (color.id === "ars_nouveau:rainbow") return "Rainbow";
  return `R: ${color.r}, G: ${color.g}, B: ${color.b}`;
};

const getIconFormatting = (color: CasterTome["color"]): any => {
  const style = {
    verticalAlign: "initial",
  };

  if (color.id === "ars_nouveau:rainbow") {
    return {
      style: { ...style, animationDuration: "5s" },
      className: "rainbow",
    };
  }

  return {
    style,
    color: `rgb(${color.r}, ${color.g}, ${color.b})`,
  };
};
---

<Fragment>
  {tomes.map(tome => (
    <Fragment>
      <h2 id={slug(tome.name)}>
        <span data-bs-toggle="tooltip" data-bs-title={formatColor(tome.color)}>
          <IconCircleFilled size={24} {...getIconFormatting(tome.color)} />&nbsp;{tome.name}
        </span>
        <a
          class="anchor"
          aria-hidden="true"
          data-pagefind-ignore="all"
          aria-label={`${tome.name.toLowerCase()} permalink`}
          href={`#${slug(tome.name)}`}
        >#</a>
      </h2>
      <Glyphs glyphs={tome.spell} size={48} />
      <p class="card-text" style="white-space: pre-line;">{tome.flavour_text}</p>
    </Fragment>
  ))}
</Fragment>

<script>
  import { Tooltip } from 'bootstrap';
  document
    .querySelectorAll('[data-bs-toggle="tooltip"]')
    .forEach(tooltipTriggerEl => Tooltip.getOrCreateInstance(tooltipTriggerEl));
</script>
